.content{
    background-color: #fffa;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    padding: 80px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vh;
    height: 100%;
    min-height: 550px;
    backdrop-filter: blur(6px) saturate(100%) contrast(200%);
    -webkit-backdrop-filter: blur(6px) saturate(100%) contrast(200%);
    margin: 1.4em 0;
    transition: backdrop-filter 2s;  
}